*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    background: #bc986a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #726abc;
    background-image: linear-gradient(to top, #fff 0%,#fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5 rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #768d41;
    color: #fff;
}

.button:hover {
    background: #b6ca87cf;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #e9e9e9;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #659dbd;
    }

    .navbar__menu.active {
        background: #daad86;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* #body */

.form {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background: #b6ca87cf;
    padding: 10px;
}

.form__container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 15px 16px #768d41;
}

.form__title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form__title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #b6ca87cf;
    left: 0;
    bottom: 0;
}

.form__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form__select-box {
    height: 45px;
    padding-top: 17px;
}

.buttons{
    width: 100%;
    margin-top: 40px;
    outline: none;
}

.reset-btn {
    outline: none;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    letter-spacing: 0.6px;
    color: rgb(75, 73, 73);
}

.submit-btn {
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    color: rgb(75, 73, 73);
    letter-spacing: 0.6px;
}
.select {
    padding: 8px 10px;
    color: #333333;
    outline: none;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    height: 45px;

}

.submit-btn:hover {
    box-shadow: 2px 2px #768d41;
}

.reset-btn:hover {
    box-shadow: 2px 2px #768d41;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid #bc986a;

}

.select option{
    background: #ffffff;
}

@media (max-width: 584px) {
    .form__container {
        max-width: 100%;
    }
}